/*
    Primary Sass File where Every File included in
*/
/*
        Include Reset File From Bases Folder
*/
/*
    ### Reset Default Values of html ###
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

/*
        Include variables File From helpers Folder
*/
/*
    ##### File specified for (VARIABLES) used in project #####
*/
/*
        Include Header File From Layouts Folder
*/
/* Start Header */
.header {
  background: #007ec5;
  box-shadow: 1px 1px 10px #ddd;
  margin-right: -15px;
  padding: 10px;
  position: fixed;
  width: 90%;
  z-index: 999;
}
.header .btn {
  border-color: transparent !important;
}
.header .btn i {
  color: #959595;
}
.header .dropdown-menu {
  right: -120px;
}

/* End Header */
/*
        Include sideMenu File From Layouts Folder
*/
/* Start Side Menu */
.sideMenu {
  background: #eef4f7;
  padding: 30px 0;
  margin-right: -15px;
  height: 100vh;
  position: fixed;
  width: 15.5%;
}
.sideMenu .user-image {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 40px #aaa;
  margin-bottom: 10px;
}
.sideMenu .user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.sideMenu .user-name p {
  font-size: 16px;
}
.sideMenu nav ul {
  margin-top: 20px;
}
.sideMenu nav ul li {
  background: #eef4f7;
  transition: background .4s ease-in-out;
  border-bottom: 1px solid #e7e7e7;
  padding: 6px 21px;
}
.sideMenu nav ul li a, .sideMenu nav ul li i {
  color: #333;
  margin-left: 10px;
  transition: color .4s ease-in-out;
  padding: 10px 5px;
}
.sideMenu nav ul li:hover {
  background: #fafcfd !important;
  border-left: 2px solid #007ec5 !important;
}
.sideMenu nav ul li:hover a, .sideMenu nav ul li:hover i {
  color: #007ec5 !important;
}

.active {
  background: #fafcfd !important;
  border-left: 2px solid #007ec5 !important;
}
.active a, .active i {
  color: #007ec5 !important;
}

.sideMenu-clicked {
  width: 6.5% !important;
}
.sideMenu-clicked li i {
  font-size: 20px;
}

.header-clicked {
  margin-right: -22px !important;
  width: 94% !important;
}

/* End Side Menu */
/*
        Include Report File From Layouts Folder
*/
/* Start Report */
main {
  margin-top: 100px;
}

.circle {
  margin: 28px 0;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top;
}
.circle strong {
  position: absolute;
  top: 77px;
  left: 55px;
  width: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 36px;
}

/* End Report */
@font-face {
  font-family: 'NeoSans';
  src: url("../fonts/NeoSans-regular.woff") format("woff");
  /* Modern Browsers */
}
body {
  font-family: 'NeoSans';
  background: #fafcfd;
  overflow-X: hidden !important;
}

/*
        Include variables File From helpers Folder
*/
/* Start Media Query */
/* Extra small devices (portrait phones, less than 576px)*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */

/*# sourceMappingURL=style.css.map */
